***************************************************************************

This network device is the property of Ariba. It is for authorized use only.
Users have no expectation of privacy.  Any use of the system and all files on
the system may be monitored, copied, inspected, and disclosed to Ariba, its
authorized agents and/or law enforcement personnel.  Unauthorized or improper
use of this system may result in civil and/or criminal penalties. By using this
system, you unconditionally indicate your consent to these terms. If you do not
consent to these terms, LOG OFF IMMEDIATELY.

***************************************************************************
